<h1> Sign up</h1>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label "Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.label "Password" %>
    <%= f.password_field :password %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="form-group">
    <%= f.submit "Sign Up" %>
  </div>
<% end %>